#nav{
    padding-top:0px;
   
}
#nav-design{
    width: 1310px;
    height: 30px;
    background-color: orangered;
    
}
#nav-content-design{
    padding-top:5px;
    color: white;
    padding-left: 10px;

  
}